.card-lg {
  background-color: white;
  display: block;
  background-size: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: left;
}

.card-sm {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 5% auto;
  padding: 20px;
  text-align: center;
}
